@{
    ViewBag.Title = "Home Page";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<style>
    .buttonLink {
        color: black;
        font-weight: bold;
        font-size: medium;
        font-family: 'Times New Roman';
        border-radius: 14px;
        box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    }
        .buttonLink:hover {
            box-shadow: 0 5px 11px 1px rgba(0, 0, 0, 0.21), 0 9px 20px 0 rgba(0, 0, 0, 0.19);
        }
}
    }
    .jumbo {
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.19), 0 4px 15px 0 rgba(0, 0, 0, 0.17);
    }
</style>
<div class="jumbotron jumbo" style="background-color: #ffaa80; ">
    <h3>Hjelp</h3>
    <p class="lead">
        <span style="font-weight: bold;">Produkter:</span>  Trykk på de produktene du ønsker for å åpne respektive faner. Hver fane må så fylles ut.
    </p>
    <p class="lead">
        <span style="font-weight: bold;">
            Prisplaner:</span>  Velg type abonnement du ønsker å tilby kunden før listen sendes til kunde! Trykk så Til Forside.
    </p>
    <p class="lead">
        <span style="font-weight: bold;">Binding:</span> Velg om kunden skal ha 24- eller 36mnd bindingsavtale.

    </p>
</div>

<div class="row" style="margin-left: 10px;">
    <h2>Produkter</h2>
    <div class="col-md-2">

        <p><button class="btn btn-default buttonLink" onclick="location.href = '@Url.Action("Index", "Fakturaoppsetts")'">FakturaOppsett &raquo;</button></p>
        <p><a class="btn btn-default buttonLink">Brukerliste &raquo;</a></p>
        <p><a class="btn btn-default buttonLink">TBN Konfigurasjon &raquo;</a></p>
        <p><a class="btn btn-default buttonLink">TBN Brukere &raquo;</a></p>
        <p><a class="btn btn-default buttonLink">IKKE i BRUK &raquo;</a></p>
        <p><a class="btn btn-default buttonLink">One Number &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-default buttonLink">TBN SIP Trunk &raquo;</a></p>
        <p><a class="btn btn-default buttonLink">TBN Tale and Teams &raquo;</a></p>
        <p><a class="btn btn-default buttonLink">Exchange &raquo;</a></p>
        <p><a class="btn btn-default buttonLink">AD &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-default buttonLink">Etiketter &raquo;</a></p>
    </div>
</div>