@model PagedList.IPagedList<TeliaMVC.Models.Client>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home Page";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
  
}
<style>
    .buttonLink {
        color: black;
        font-weight: bold;
        font-size: medium;
        font-family: 'Times New Roman';
        border-radius: 14px;
        box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .buttonAdd {
        font-size: medium;
        font-size: smaller;
        color: white;
        text-shadow: 1px 1px black;
        margin-right: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
        border-radius: 12px;
    }
    .buttonLink:hover {
        box-shadow: 0 5px 11px 1px rgba(0, 0, 0, 0.21), 0 9px 20px 0 rgba(0, 0, 0, 0.19);
    }

</style>


<div class="row" style="margin-left: 10px;margin-top:10px;">

    <div class="col-md-6">

        <p><button class="btn btn-default buttonLink" onclick="location.href = '@Url.Action("Index", "Fakturaoppsetts",new { id = ViewBag.id_sesije })'">FakturaOppsett &raquo;</button></p>
    </div>

    <div class="col-md-6">
        <p><button class="btn btn-default buttonLink" onclick="location.href = '@Url.Action("Index", "Nummers",new { id_sesije =ViewBag.id_sesije })'">Nummers &raquo;</button></p>
    </div>

    <div class="col-md-6">

        <p><button class="btn btn-info buttonLink" onclick="location.href = '@Url.Action("Details", "HomeClient",new { id = ViewBag.id_sesije })'"><span class="glyphicon glyphicon-user"></span>Profile &raquo;</button></p>
    </div>




</div>

